@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Roboto", sans-serif;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
  input:not([type="checkbox"]) {
    @apply outline-none focus:ring border
     border-gray-300 focus:border-indigo-500 rounded-md px-3 py-2 transition;
  }
  textarea {
    @apply outline-none focus:ring border
     border-gray-300 focus:border-indigo-500 rounded-md px-3 py-2 transition;
  }
}
